name: Deploy

on: [ push, workflow_dispatch ]

permissions: {}

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write # publish

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build
        run: sphinx-build . _build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          destination_dir: ${{ github.ref_name }}
          keep_files: true # zizmor: ignore[anonymous-definition]
        permissions:
          contents:
            write: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
